<nav class="flex gap-12 bg-black w-screen h-17 p-4 justify-between  top-0 z-50 fixed top-0">
    <div id="nav_part1">
        <h1 class="text-white text-2xl ml-4">ConnectVista</h1>

    </div>
    <div id="nav_part2">
        <!-- 
        <div id="search">
<i class="fa fa-search" aria-hidden="true"></i>
        <input type="search" name="" id="" placeholder="Try Saree, Kurti or Search by Product"
            class="h-14 rounded-md w-full  "> 
    </div> 
    -->
    
    </div>
    <div id="nav_part2" class="flex gap-3">



        <div id="nav-icon" class="flex gap-6">
            <a href="#">
                <div id="search" class="flex flex-col text-white items-center content-between">
                    <i class="fa-solid fa-magnifying-glass text-2xl "></i>
                    <!-- <span class="text-xs 200 font-bold ">Search</span> -->
                </div>
    
            </a>
    
    
    
    
            <a href="/notification">
                <div id="notification" class="flex flex-col text-white items-center content-between">
    
                    <i class="fa-solid  text-2xl fa-bell"></i>
                    <i class="fa fa-picture-o text-white text-2xl" aria-hidden="true"></i>
                    <!-- <span class="text-xs 200 font-bold ">notification</span> -->
                </div>
    
            </a>
        </div>
   
       




    </div>


</nav>